.main{
    background-color: whitesmoke;
}
.landing h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 9rem;
    color:#FDFD96;
}

.landing h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 2.5rem;
    margin: -20px;
}
.landing img{
    width: 30%;
    opacity: 85%;
    justify-content: center;
}
    
@media only screen and  (max-width: 480px) { 
    .landing h1 {
        font-size: 4.7rem; 
        text-align: center; 
    }

    .landing h3 {
        font-size: 1rem; 
        text-align: center; 
    }

    .landing p {
        font-size: 1.5rem; 
        margin: 0;
        text-align: center; 
    }
    .main {
        padding: 10px;
    }

} 